h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
width: 500px;
display: flex;
justify-content: center;
align-items: center;
flex-wrap:wrap;


}

.box  {
    width: 150px;
    height: 150px;
    background-color: teal;
    margin: 1px;
    border-radius:10px ;
    transition: 0.5s;
    border: 2px solid darkkhaki;

}
.box:hover {
    background-color: turquoise;
}
body {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}